body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #59d8ee;
    color: #201919;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #080707;
    text-decoration: none;
}

#banner {
    background-image: url('banner.jpg');
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 100px;
    color: #141111;
}

#producto {
    padding: 20px;
}

.producto {
    display: inline-block;
    margin: 20px;

}

.producto img {
    width: 200px;
    height: 200px;
}

footer {
    background-color: #24e7e7;
    color: #080707;
    text-align: center;
    padding: 20px;
}

h1{
    text-align: center;
    color: black;
}

